doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title BookTrading | Profile
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/start/jquery-ui.css')
    link(href='css/custom.css', rel='stylesheet')
    
  body.fixed-navigation
    #wrapper
      nav.navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
          ul#side-menu.nav.metismenu
            li.nav-header
              .dropdown.profile-element
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.clear
                    span.block.m-t-xs
                      strong.font-bold #{user.username}
                    span.text-muted.text-xs.block
                      | #{user.city}, 
                      br
                      | #{user.state}
            li
              a(href='#')
                i.fa.fa-th-large
                span.nav-label Profile
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a#editProfileLink(href='#') Edit Profile        
            li
              a#searchBooksLink(href='#')
                i.fa.fa-search
                span.nav-label Search Books  
            li
              a#allBooksLink(href='#')
                i.fa.fa-files-o
                span.nav-label All Books               
            li
              a(href='#')
                i.fa.fa-book
                span.nav-label My Books
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a#allMyBooksLink(href='#') All my Books
                li
                  a#borrowedBooksLink(href='#') Borrowed Books
                li
                  a#lentBooksLink(href='#') Lent Books
            li
              a(href='#')
                i.fa.fa-envelope
                span.nav-label Pending Requests
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a#borrowalLink(href='#') Borrowal 
                li
                  a#lendingLink(href='#') Lending
          
      #page-wrapper.gray-bg.sidebar-content
        .row.border-bottom
          nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
            .navbar-header
              a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                i.fa.fa-bars
            ul.nav.navbar-top-links.navbar-right
              li
                span.m-r-sm.text-muted.welcome-message Your online Book Catalogue.
              li
                a(href='/logout')
                  i.fa.fa-sign-out
                  |  Log out
        .wrapper-content
          .row  
            .col-lg-12
              h3.text-primary#msg= msg
          .row#searchBooks  
            .search-form.col-lg-12
              form#searchForm
                .input-group
                  input.form-control.input-lg#searchInput(type='text', placeholder='Search Google Books, enter name of book/author', name='search')
                  .input-group-btn
                    button.btn.btn-lg.btn-primary(type='submit')
                      | Search
                small.pull-right with autocomplete, powered by Google Books
            .col-lg-12#searchBooksResults
          .row.no-display#allBooks
          .row.no-display#allMyBooks
          .row.no-display#borrowedBooks
          .row.no-display#lentBooks
          .row.no-display#borrowal
          .row.no-display#lending
          .row.no-display#template
            .col-md-8#itemAuto
              .ibox.float-e-margins
                .ibox-title
                  h4#title 
                .ibox-content(style="min-height:250px !important;")
                  .row
                    .col-sm-3
                      img#img
                    .col-sm-9
                      strong#author(style="margin-right:10px;")
                      span#publishedDate
                      p#description
                      p ISBN:
                        span#isbn(style="margin: 0px 5px" )
                        a.btn.btn-white#worldcat(target="_blank") view on worldcat
                      p  
                        button.btn.btn-primary.action Add
            .col-md-4#item(style="padding:10px; min-height:250px;")
                  img.img-responsive.img-thumbnail#img(style="float:left; margin-right:10px")
                  h4#title(style="margin: 0 10px;") 
                  p#author(style="margin:10px;")
                  p#publishedDate
                  p(style="margin:10px;") ISBN:
                    span#isbn
                  button.btn.btn-white.details(type='button', data-toggle='modal', data-target='#myModal')
                    | view description
                  p(style="margin:10px;")
                   button.btn.btn-primary.action
                    
          .row.no-display#editProfile
            .col-lg-12
              .ibox.float-e-margins
                .ibox-title
                  h5
                    | Leave Blank the Values You dont want to Change
                .ibox-content
                  form.form-horizontal.text-left#editProfileForm(role="form" action="/editprofile" method='post')
                    .form-group
                      span.col-sm-2.text-right.form-control-static.text-muted #{user.username}
                      label.col-sm-3.control-label New username
                      .col-sm-7
                        input.form-control(type='text' name="newusername")
                    .form-group
                      span.col-sm-2.text-right.form-control-static #{user.city}
                      label.col-sm-3.control-label New city
                      .col-sm-7
                        input.form-control(type='text' name="newcity")
                    .form-group
                      span.col-sm-2.text-right.form-control-static #{user.state}
                      label.col-sm-3.control-label New state
                      .col-sm-7
                        input.form-control(type='text' name="newstate")
                    .form-group
                      .col-sm-2
                      label.col-sm-3.control-label Old password
                      .col-sm-7
                        input.form-control(type='password', name='oldpassword' required="true")
                    .form-group
                      .col-sm-2
                      label.col-sm-3.control-label New password
                      .col-sm-7
                        input.form-control(type='password', name='newpassword')
                    .form-group
                      .col-sm-2
                      label.col-sm-3.control-label Confirm new password
                      .col-sm-7
                        input.form-control(type='password', name='confirmnewpassword')
                    .hr-line-dashed
                    .form-group
                      .col-sm-4.col-sm-offset-2
                        button.btn.btn-white#cancel Cancel
                        if ( user.username == "Explorer" || user.username == "Another Explorer" ) 
                          button.btn.btn-primary(type='submit' style= "margin-left:5px;"  disabled="true") Save changes
                          small.text-muted   This Profile is not Editable.
                        else                             
                          button.btn.btn-primary(type='submit' style= "margin-left:5px;" ) Save changes
                            
        #myModal.modal.fade(style="width:100vw", tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          #modalDetails(style="margin:10vh auto !important; width:80vw")

        .footer
          .pull-right
            | Nishant Tomer for 
            strong FreeCodeCamp.
          div
            strong Credits :
            |  jQuery, Bootstrap, INSIPINIA Admin Theme, Express, Node, Mongo, Heroku, Google Books   
      
    // Mainly scripts
    script(src='js/jquery-2.1.1.js')
    script(src='js/bootstrap.min.js')
    script(src='js/plugins/metisMenu/jquery.metisMenu.js')
    script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
    // Custom and plugin javascript
    script(src='js/inspinia.js')
    script(src='js/plugins/pace/pace.min.js')
    // jQuery UI
    script(src='js/plugins/jquery-ui/jquery-ui.min.js')
    script(src="js/plugins/validate/jquery.validate.min.js")
    script(src='js/custom.js')



  
